# fly.toml app configuration file generated for greengoldenera on 2025-11-25T16:57:21Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'greengoldenera'
primary_region = 'gru'

[build]

[http_service]
  internal_port = 8055
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[mounts]
  source = "directus_data"
  destination = "/data"
  
[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
